<div class="login-contenedor">
  <div class="login-card">
    <h2>Sales Point System LogIn</h2>
    <p>Ingresa tus datos para continuar</p>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

      <div class="form-group">
        <label for="user">Correo Electronico</label>
        <input type="text" id="email" formControlName="email">
        @if (errorEmail) {
          <span>{{ errorEmail }}</span>
        }
      </div>

      <div class="form-group">
        <label for="user">Contraseña</label>
        <input type="text" id="password" formControlName="password">
        @if (errorPassword) {
          <span>{{ errorPassword }}</span>
        }
      </div>

      <button type="submit" class="button-login">Entrar</button>

    </form>
  </div>
</div>
